version: "3.8"

services:

  frontend_app: 
    container_name: frontend_app
    build: 
      context: frontend/
      args:
        - REACT_APP_API_BASE_URL=http://localhost:3500
        - REACT_APP_ENV=production

    image: somya8890/frontend_app:latest   # your dockerhub image
    ports: 
      - "3000:80"
    depends_on:
      - backend_app
    networks:
      - three-tier-net 

  backend_app:
    container_name: backend_app
    build: 
      context: backend/
    image: somya8890/backend_app:latest   # your dockerhub image
    ports: 
      - "3500:3500"
    env_file: ./backend/.env 
    networks:
      - three-tier-net

networks:
  three-tier-net:
    driver: bridge
